/* FONTS */
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App {
  background-color: #745151;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #D4A8D4;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ---------------------       HEADER ------------------ */
.header {
  display: flex;
  flex-direction: row;
  /* margin: 2%; */
  justify-content: flex-end;
  font-family: 'DM Serif Display', serif;
  color: #DEB5E4;
  background-color: #745151;
}

/* .k {
  background-color: rgb(126, 43, 43);
  display: flex;
  justify-content: flex-start;
} */

.menu {
  writing-mode: vertical-rl;text-orientation: mixed;
  margin: 2%;
  font-size: 12px;
}

/* ---------------------       COVER       ------------------ */
.cover-container {
  background-color: purple;
  padding: 10%;
  display: flex;
  flex-direction: row;
}

.cover-container img {
  width: 300px;
}

.cover-container div {
  padding: 3%;
  width: 70%;
}

.cover-container h1 {
  font-family: 'DM Serif Display', serif;
  color: #DEB5E4;
}



/* ---------------------       ABOUT       ------------------ */
.about-container {
  background-color: aquamarine;
}

/* ---------------------       PROJECTS       ------------------ */
.project-container{
  background-color: plum;
}

.project-card {
  background-color: cadetblue;
}

/* ---------------------       SKILLS       ------------------ */
.skills-container {
  background-color: salmon;
}

/* ---------------------       CERTIFICATES       ------------------ */
.certificates-container {
  background-color: coral;
}